# Arquivos de compilação e dependências
node_modules/
build/
*.log

# Arquivos de ambiente
.env.local
.env.development.local
.env.test.local
.env.production.local

# Outros arquivos específicos do editor
.vscode/
*.swp
.DS_Store

# Cache e arquivos temporários
.cache/
*.tmp
